@mixin Projects() {
    letter-spacing: 0.8px;
    padding: 50px 50px 50px 50px;
    ul {
        list-style: none;
        display: flex;
        width:1500px;
        flex-wrap:wrap;
        li {
            font-size: 0.8em;
            width: 300px;
            
            margin: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
           
            video {
            }
            div {
                a {
                    margin: 10px;
                    display: flex;
                    gap: 50px;
                    justify-content: space-evenly;
                    h3 {
                       
                    }
                    img {
                    }
                }
                p {
                }
            }
        }
    }
}
