* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*[data-animation=start] {
  transition: 0ms;
  z-index: 0;
  transform: translateX(200vw);
}

*[data-animation=end] {
  transition: 0.6s;
  transform: translateX(0px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  background-color: white;
}
body aside {
  letter-spacing: 1.6px;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8039215686);
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.384);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body aside menu {
  position: relative;
  top: -6%;
  font-size: 1.2em;
  padding: 40px;
}
body aside menu h1 {
  font-weight: 600;
  font-size: 2.6em;
  margin: 15px;
  margin-bottom: 12%;
}
body aside menu nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}
body aside menu nav li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}
body aside menu nav li:hover {
  color: rgb(0, 0, 0);
}
body aside menu nav li:active {
  color: rgb(0, 0, 0);
}
body aside menu nav li[cheked=true] {
  font-weight: 400;
  font-size: 120%;
  color: rgb(0, 0, 0);
  transform: translateX(40px) scale(1.2);
}
body aside menu nav li img {
  margin-right: 9px;
}
@media (max-width: 1300px) {
  body aside menu {
    padding: 5px;
  }
  body aside menu li {
    font-size: 90% !important;
  }
}
@media (max-width: 992px) {
  body aside menu {
    padding: 0px;
    font-size: 100% !important;
  }
  body aside menu li[cheked=true] {
    transform: scale(1.1) !important;
  }
  body aside menu img {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 768px) {
  body aside menu {
    /*li[cheked="true"] {
        font-weight: 500 !important;
        transform: translateX(0px) scale(1.1) !important;
    }*/
  }
  body aside menu h1 {
    display: none;
  }
  body aside menu span {
    display: none;
  }
  body aside menu li {
    margin-bottom: 2px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
  body aside menu li img {
    margin-right: 0px !important;
  }
  body aside menu img {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 992px) {
  body aside {
    letter-spacing: normal;
  }
  body aside menu {
    margin: 5px;
  }
}
@media (max-width: 768px) {
  body aside menu {
    padding: 6px !important;
    top: 0px !important;
  }
  body aside menu * {
    font-size: 120% !important;
  }
  body aside menu li img {
    height: 23px;
    width: 23px;
  }
}
@media (max-width: 768px) {
  body aside {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 0;
  }
  body nav {
    justify-content: space-evenly;
    flex-direction: row !important;
  }
  body nav li {
    margin: 1px !important;
    flex-direction: column !important;
  }
  body article {
    padding-bottom: 150px !important;
  }
}
body main {
  width: 100%;
  height: 100%;
}
body main section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section article {
  overflow-x: hidden;
  width: 100%;
  background-color: white;
  height: 100%;
  font-weight: 300;
  font-size: 1.2em;
  position: absolute;
  transition: 0.25s cubic-bezier(0, 0.51, 0.13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section article[cheked=false] {
  transition: 0s;
  transform: translateX(-100vw) scale(0);
}
body main section article[cheked=true] {
  transform: translateX(0vw) scale(1);
}
body main section .Introduction {
  left: -5%;
  flex-direction: column;
  gap: 5%;
  z-index: 2;
  padding: 5%;
  justify-content: flex-start;
  overflow-y: scroll;
}
body main section .Introduction .bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
body main section .Introduction .bloc .photo img {
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px 0px #ffffff;
}
body main section .Introduction .bloc .description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body main section .Introduction .bloc .description .item h1 {
  font-weight: 600;
  font-size: 2.3em;
  margin: 10px;
}
body main section .Introduction .bloc .description .item h2 {
  margin: 10px;
  font-weight: 600;
  font-size: 1.2em;
}
body main section .Introduction .bloc .description .item h4 {
  letter-spacing: 0.8px;
  font-weight: 700;
  font-size: 1em;
}
body main section .Introduction .bloc .description .item h5 {
  font-weight: 600;
  font-size: 0.9em;
}
body main section .Introduction .lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
body main section .Introduction .lists div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
body main section .Introduction .lists div h4 {
  font-weight: 700;
  align-items: center;
  text-align: end;
  width: 350px;
}
body main section .Introduction .lists div ul {
  list-style: disc inside;
}
@media (min-width: 1100px) and (max-width: 1300px) {
  body main section .Introduction {
    left: 0;
    padding: 10% 5% 10% 5%;
  }
  body main section .Introduction img {
    height: 300px;
    width: 300px;
  }
  body main section .Introduction .bloc {
    gap: 10px;
  }
  body main section .Introduction h4 {
    width: 200px !important;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  body main section .Introduction {
    left: 0;
    padding: 10% 5% 10% 5%;
  }
  body main section .Introduction img {
    height: 300px;
    width: 300px;
  }
  body main section .Introduction .bloc {
    gap: 10px;
  }
  body main section .Introduction h4 {
    width: 100px !important;
  }
}
@media (min-width: 650px) and (max-width: 992px) {
  body main section .Introduction {
    left: 0;
    padding: 10% 5% 10% 5%;
  }
  body main section .Introduction img {
    height: 250px;
    width: 250px;
  }
  body main section .Introduction .bloc {
    gap: 0px;
  }
  body main section .Introduction .lists {
    gap: 3px;
  }
  body main section .Introduction .lists div {
    margin: 5px;
    gap: 0px;
    flex-direction: column;
  }
  body main section .Introduction h4 {
    text-align: start !important;
    width: 250px !important;
  }
}
@media (min-width: 100px) and (max-width: 650px) {
  body main section .Introduction {
    left: 0;
    padding: 10% 5% 10% 5%;
  }
  body main section .Introduction img {
    height: 250px;
    width: 250px;
  }
  body main section .Introduction .bloc {
    gap: 0px;
    flex-direction: column;
  }
  body main section .Introduction h1 {
    font-size: 2.9em !important;
  }
  body main section .Introduction h2 {
    font-size: 1.6em !important;
  }
  body main section .Introduction .lists {
    gap: 3px;
  }
  body main section .Introduction .lists div {
    margin: 5px;
    gap: 0px;
    flex-direction: column;
  }
  body main section .Introduction h4 {
    text-align: start !important;
    width: 250px !important;
  }
}
body main section .Skills {
  letter-spacing: 0.8px;
  flex-direction: row;
  padding: 8% 0 8% 10%;
  gap: 15%;
}
body main section .Skills ul {
  display: flex;
  flex-direction: column;
}
body main section .Skills ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
}
body main section .Skills ul li:nth-of-type(1) {
  list-style: none;
  position: relative;
  right: 40px;
}
body main section .Skills ul li h3 {
  list-style: none;
}
body main section .Skills div {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
body main section .Skills div ul ul {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
body main section .Skills div ul ul li {
  margin: 5px;
}
body main section .Skills div ul ul li:nth-of-type(1) {
  list-style: none;
  position: relative;
  right: 40px;
}
body main section .Skills div ul ul li h3 {
  list-style: none;
}
@media (min-width: 100px) and (max-width: 650px) {
  body main section .Skills {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column !important;
    padding: 8% 0 8% 15%;
    gap: 30px;
  }
  body main section .Skills div {
    gap: 30px;
  }
}
@media (max-height: 830px) {
  body main section .Skills {
    align-items: flex-start;
  }
  body main section .Skills li {
    margin: 3px !important;
  }
}
body main section .Projects {
  overflow-x: scroll;
  letter-spacing: 0.3px;
  align-items: flex-start;
  overflow-x: hidden;
}
body main section .Projects ul {
  margin-top: 3%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 70px;
}
body main section .Projects ul li {
  font-size: 0.8em;
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
body main section .Projects ul li video {
  border-radius: 6px;
  background-color: rgb(201, 201, 201);
}
body main section .Projects ul li div a {
  color: black;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
body main section .Projects ul li div a h3 {
  align-self: center;
  font-size: 1.4em;
}
body main section .Projects ul li div a:hover {
  color: rgb(70, 70, 70);
  text-decoration: underline;
}
body main section .Projects ul li div p {
  text-align: justify;
  text-indent: 30px;
}
@media (max-width: 650px) {
  body main section .Projects li {
    align-items: center;
  }
  body main section .Projects video {
    width: 90%;
  }
  body main section .Projects p {
    padding: 20px;
  }
}
body main section .Contacts {
  left: -5%;
}
body main section .Contacts ul li {
  margin: 20px;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body main section .Contacts ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
body main section .Contacts ul li a span {
  letter-spacing: 1.2px;
  color: black;
  font-size: 1.7em;
}
body main section .Contacts ul li:hover {
  transition: 0.2 ease-out;
  transform: scale(1.1);
}
body main section .Contacts ul li:active {
  opacity: 0.7;
}
@media (max-width: 768px) {
  body main section .Contacts {
    left: 0%;
  }
}
@media (min-width: 1100px) and (max-width: 1300px) {
  body main section article {
    font-size: 1.1em;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  body main section article {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body main section article {
    font-size: 0.9em;
  }
}
@media (min-width: 68px) and (max-width: 768px) {
  body main section article {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=style.css.map */